/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}


/**********************************************/
#main{
	width:100%;
}


section {
	padding-top:1%;
	padding-bottom:1%;
	margin-left:0px;
	/*margin-bottom:30%;*/
	height:100%;
	position: relative;
	min-height: 100vh; /*will adjust the section height to the screen height, all sections will be the same*/
  	width: 100vw; /*100% width for all of the sections*/
	border: 1px dotted black;
	display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

section.about{
	background-color: yellow;
}

section.data{
	background-color:white;
	color: black;
	height:100%;
}

section.contact{
	background-color: orange;
}

section.about h2 {
	width: 75px;
	border: 1px solid green;
	margin: 0 auto; /*If you use margin to center a div, you need a width for the element*/
	margin-top: 30px;
}

/*slider control*/

.intro{
	margin-bottom:4%;
}

#data-link {
	background: url("../img/start2.png") no-repeat center;
	z-index:4;
	position:absolute;
	cursor: pointer;
	
	max-width:100%;
	height:42px;
	display:block;
	-webkit-box-align: center;
}


.next, .back{
    position: absolute;
    z-index: 4;
    /*top: 50%;*/
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
   /* margin-top: -38px;*/
}
.back {
    left: 30px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent hsla(0, 100%, 50%, 0.8) transparent transparent;
}
.next {
    right: 30px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent hsla(0, 100%, 50%, 0.8);
}

/* The Basic Style for all Pages */
#data-1{
	align-content:center;

	
}

#data-1.form1{
/*	display:block;*/
	position:absolute;
	height:100vh;
	width:100vh;
	
	
	/*padding-bottom:50px;*/

}

/*form  {
	text-align:left;
	border:1px dotted black;

}*/

form h2 {
	margin-bottom:2%;
	/*text-align:center;*/
}

form label{
	display:inline-block;
	padding:1%;
	margin-top:1%;

}

.submit{
	margin-top:5%;
	float:right;
	margin-right:15%;
}


/* The Pages */



